body{
    background-color: azure;
}

.navbar{
    background-color: antiquewhite;
}

nav{
    color: black;
}

form{
    align-items: center;
}

.form-control{
    border: none;
}

.input-group{
    align-items: center;
}

#search-btn{
    background-color: whitesmoke;
    border: none;
}

#search-btn{
    background-color: whitesmoke;
}

.nav-icon:hover{
    font-size: 1.25rem;
}